---
import Layout from '../../layouts/Layout.astro'
import Doc from '../../components/About.md'
import Toggle from '../../components/toggle.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Doc />
  <div class="bottom">
    <hr />
    <div class="bottom-elements">
      <span class="header">Ghostkey's Lab</span>
      <a href="./">[ Home ]</a>
      <a class="discord" href="https://discord.gg/GRjXpWnX" target="_blank" rel="noopener noreferrer">[ Discord ]</a>
      <Toggle />
    </div>
  </div>
</Layout>

<style>
  body {
    font-size: 0.95em;
    display: flex;
    flex-direction: column;
    width: 45em;
    margin: 0 auto;
    padding: 0 1em;
  }
  hr {
    width: 100%;
  }
  .bottom {
    flex: 1;
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--bg-color)
  }

  .bottom .bottom-elements{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    width: 45em;
  }

  .bottom span.header {
    font-size: 1.9em;
    font-weight: 400;
  }
  .bottom a.discord {
    flex: 1
  }
</style>
