#logs{
  list-style: none;
  margin: 0;
  padding: 0;
}

#logs li {
  padding-bottom: 0.4em;
}

#logs li p{
  margin: 0;
  position: relative;
}

#logs li p.input::before, label[for="user-input"]::before {
  content: ">";
  position: absolute;
  left: -0.95em;
}

#logs li p span.prev{
  color: var(--accent);
}

#logs li p.error{
  color: var(--accent-error);
}

#logs li p.input ~ p{
  padding-top: 0.12em;
}

label[for="user-input"] {
  /* font-family: 'Courier New', Courier, monospace; */
  display: flex;
  position: relative;
}

label[for="user-input"] span#prev{
  margin-right: 8px;
  color: var(--accent);
}

label[for="user-input"] input{
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: 0;
  background-color: transparent;
  caret-color: var(--primary);
  caret-shape: block;
  padding: 0;
  width: 11em;
  color: var(--primary)
}

label[for="user-input"] span#cursor {
  min-width: 0.01em;
  width: max-content;
  max-width: 11em;
  overflow: hidden;
  color: transparent;
  animation: blink 1s steps(1) infinite;
  position: absolute;
  left: 0;
  min-height: 1em;
}

label[for="user-input"] span#cursor-wrapper{
  position: relative;
}

label[for="user-input"].blur span#cursor::after {
  background-color: var(--primary);
}

label[for="user-input"] span#cursor::after {
  content: "";
  display: inline-block;
  width: 0.05em;
  background-color: transparent;
  height: 1.17em;
  position: absolute;
  right: 0em;
  top: 0;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}