---
import Doc from '../components/Doc.md';
import Layout from '../layouts/Layout.astro';
import Terminal from '../components/Terminal';
import Toggle from '../components/toggle.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="user-interact">
    <Doc />
    <em>If you solve this, I might just let you in on the next step...</em>
    <Terminal client:load/>
  </div>
  <hr />
  <div class="bottom">
    <div class="top-half">
      <span class="header">Phantom's Lab</span>
      <a href="./about">[ About ]</a>
      <a href="https://discord.gg/GRjXpWnX" target="_blank" rel="noopener noreferrer">[ Discord ]</a>
    </div>
    <div class="bottom-half">
      <em class="instruction">Type <code>Clear</code> to clear the terminal </em>
      <Toggle />
    </div>
  </div>
</Layout>

<style>
  * {
    box-sizing: border-box;
  }
  body {
    font-size: 0.95em;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  em {
    font-size: 0.9em;
    padding-bottom: 0.5em;
    display: block;
  }
  .user-interact {
    height: calc(100vh - 3em);
    overflow-y: auto;
    padding: 0 0 0 1.2em;
  }
  hr {
    width: 100%;
  }
  .bottom {
    height: 3em;
    padding: 0 1.2em 0 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  .bottom span.header {
    font-size: 1.9em;
    font-weight: 400;
  }
  .bottom a {
    display: inline-block;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
    border: 0;
    color: var(--accent-attention);
  }
  .bottom a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .bottom em.instruction {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .bottom em.instruction code{
    padding: 0 0.5em;
  }
  .bottom div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  .bottom div.bottom-half{
    flex: 1;
    gap: 1em;
  }

  @media screen and (max-width: 50em) {
    .bottom{
      flex-direction: column;
      height: 6em;
      gap: 0;
    }
    .bottom div{
      width: 100%;
    }
  }
  
  @media screen and (max-width: 30em) {
    .bottom div{
      gap: 0;
    }
    .bottom span.header {
      font-size: 1.3em;
      font-weight: 400;
    }
  }
</style>
