---
const locale = Astro.currentLocale
const isHome = locale === "/doc"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="jet">
    <slot />
	</body>
</html>

<style>
  * {
    box-sizing: border-box;
  }
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

  body.jet{
    font-family: "JetBrains_Mono", 'Courier New', monospace;
  }

  .user-interact {
    height: calc(100vh - 3em);
    overflow-y: auto;
    padding: 0 0 0 1.2em;
  }

  .bottom {
    height: 3em;
    padding: 0 1.2em 0 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
  .bottom span.header {
    font-size: 1.9em;
    font-weight: 400;
  }
  .bottom a {
    display: inline-block;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
    border: 0;
    color: #1fe89a;
  }
  .bottom a:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  .bottom em.instruction {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .bottom em.instruction code{
    padding: 0 0.5em;
  }
</style>
